appnope==0.1.0
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
backcall==0.1.0
CacheControl==0.12.5
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
coverage==4.5.3
decorator==4.4.0
filelock==3.0.12
firebase-admin==2.16.0
Flask==1.0.3
google-api-core==1.11.0
google-auth==1.6.3
google-cloud-core==1.0.0
google-cloud-firestore==1.2.0
google-cloud-storage==1.16.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.10
grpcio==1.20.1
idna==2.8
ipdb==0.12
ipython==7.5.0
ipython-genutils==0.2.0
isort==4.3.20
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.1
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.0.0
msgpack==0.6.1
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
pluggy==0.11.0
prompt-toolkit==2.0.9
protobuf==3.7.1
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.5.0
pyflunt==1.0.0
Pygments==2.4.1
pylint==2.3.1
pytest==4.5.0
pytz==2019.1
requests==2.22.0
rsa==4.0
six==1.12.0
toml==0.10.0
tox==3.11.1
traitlets==4.3.2
typed-ast==1.3.5
urllib3==1.25.2
virtualenv==16.6.0
wcwidth==0.1.7
Werkzeug==0.15.4
wrapt==1.11.1
